


* {
  box-sizing: border-box;
 
}


header {
  padding: 30px;
  color: white;
  background: #ffffff;
  border: #cccccc; 
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  float: left;
  width: 25%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  
  
}


h1 {
  font-size: 24px;
  color: white;
  background-color: peru; 
  width: 30%;
  height: 75px

}


#instructions
{

	width: 50%;
	height: 200px;
	background-color: #f7e7d0;
	border: 5px;
	color: #a7ce87;
	font-style: bold;
}


#btns 
{
	display: block;
	border: 5px;
	margin-left: left;
	text-align: left;
	padding: 5px;
  
}


#winsLosses
{
	
	background-color: #86f9fc;
	padding: 25px;
	width: 100px;
	height: 150px;
	color: #726a81;
	text-align: left;
	display: inline-block;
  
}

#computerScore{

	background-color: #7bc587;
	width: 210px;
	height: 150px;
	padding: 10px;
	text-align: left;
	display: inline-block;

}


#totalScore
{

	background-color: #54a096;
	height: 50px;
	border: 20px;
	width: 215px;
	color: white;
	padding: 5px;
	text-align: left;

	

}

#displayScore{
	background-color: #54a096;
	font-style: large;
	height: 150px;
	width: 215px;
	border-top: : 5px;
	text-align: left;
	color: white;
	margin-top-color: white;

}

 }

footer {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: #eee;
  border-top-color: #eee
  border-top-width: medium;
  color: #333;
  background:#33;
  width: 100%;
  height:50px;
  float: left;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: white;

}
